.separator {
  width: 321px;
  height: 1px;
  background-color: #ccc;
}

.list-item-wrapper {
  width: 321px;
  height: 96px;
  align-items: center;
}

.list-item {
  width: 321px;
  font-size: 30px;
  font-family: RobotoCondensed-Regular;
}