.list-item-wrapper {
  width: 321px;
  height: 96px;
  align-items: center;
}

.list-item {
  width: 321px;
/*  font-family: RobotoCondensed-Regular;*/
}

.text-wrap{
  align-items: center;
  justify-content: center;
}